<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:fragment="footer">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Z5n's Blog FOOTER</title>

<!--    <script src="/js/jquery-3.4.1.js"></script>-->
    <script src="/js/bootstrap.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <!-- 自定义css-->
    <link rel="stylesheet" href="/css/blog.css">

    <!-- BootStrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css">


    <!-- Tether core CSS -->
    <link rel="stylesheet" href="/css/tether.min.css">

    <!-- Font-Awesome CSS -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <!-- NProgress CSS-->
    <link rel="stylesheet" href="/css/nprogress.css">
    <!-- thinker-md CSS-->
    <link rel="stylesheet" href="/css/thinker-md.vendor.css">
    <!-- BootStrap tags CSS-->
    <link rel="stylesheet" href="/css/bootstrap-tagsinput.css">
    <!-- Component-chosen CSS-->
    <link rel="stylesheet" href="/css/component-chosen.css">
    <!-- Toastr CSS-->
    <link rel="stylesheet" href="/css/toastr.min.css">
    <!-- cropBox CSS -->
    <link rel="stylesheet" href="/css/jquery.cropbox.css">


</head>
<body>
<div class="footer">
    <a class="text-center text-muted" href="https://www.baidu.com">baidu.com</a>
</div>
</body>
</html>