<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:fragment="header">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

        <script src="/js/jquery-3.4.1.js"></script>
    <script src="/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>

    <!-- 自定义css-->
    <link rel="stylesheet" href="/css/blog.css" th:href="@{/css/blog.css}">

    <!-- BootStrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}">

    <!-- Tether core CSS -->
    <link rel="stylesheet" href="/css/tether.min.css" th:href="@{/css/tether.min.css}">

    <!-- Font-Awesome CSS -->
    <link rel="stylesheet" href="/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}">
    <!-- NProgress CSS-->
    <link rel="stylesheet" href="/css/nprogress.css" th:href="@{/css/nprogress.css}">
    <!-- thinker-md CSS-->
    <link rel="stylesheet" href="/css/thinker-md.vendor.css" th:href="@{/css/thinker-md.vendor.css}">
    <!-- BootStrap tags CSS-->
    <link rel="stylesheet" href="/css/bootstrap-tagsinput.css" th:href="@{/css/bootstrap-tagsinput.css}">
    <!-- Component-chosen CSS-->
    <link rel="stylesheet" href="/css/component-chosen.css" th:href="@{/css/component-chosen.css}">
    <!-- Toastr CSS-->
    <link rel="stylesheet" href="/css/toastr.min.css" th:href="@{/css/toastr.min.css}">
    <!-- cropBox CSS -->
    <link rel="stylesheet" href="/css/jquery.cropbox.css" th:href="@{/css/jquery.cropbox.css}">

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" th:href="@{~/}">Z5n's Blog</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a class="navbar-link" href="/users/" th:href="@{~/users}">首页<span class="sr-only"></span></a>
                </li>
            </ul>
            <!-- 登陆判断-->
            <div sec:authorize="isAuthenticated()" class="row navbar-right login-success-navbar">
                <ul class="navbar-nav">
                    <li class="navbar-text">
                        <span class="navbar-link" sec:authentication="name"></span>
                    </li>
                </ul>
                <form action="/logout" th:action="@{/logout}" method="post">
                    <input class="btn navbar-btn" type="submit" value="退出">
                </form>
            </div>

            <div sec:authorize="isAnonymous()">
                <a href="/login" th:href="@{~/login}" class="btn navbar-btn navbar-right" type="submit">登陆</a>
            </div>

        </div><!--/.nav-collapse -->
    </div>
</nav>

</body>
</html>